/*通用設定*/
body, h1, h2, h3, h4 ,p {
    margin: 0;
}

a {
   text-decoration: none;
}

img {
    width: 100%;
}

.wrap-header {
     width: 100%;
     background-color: white;

}
.wrap-content {
    width: 1024px;
    margin: 0 auto;

}


/*Header 頁首設定*/

header {
   width: 1024px;
   margin: 0 auto;
   display: flex;
   padding: 12px;
}

header .logo {

    display: block;
    text-indent: -9999px;
    overflow: hidden;
    width: 452px; height: 77px;
    background-image: url(image/logo1.jpg);
    background-repeat: no-repeat;
    margin-right: auto;

}
header .logo a {
    display: block;
    width: 452px; height: 77px;
    overflow: hidden;
    text-indent: -999px;
}

header ul {
     margin: 0px; padding: 0px;
     list-style: none;
    display: flex;
    gap: 30px;
    margin-right: 50px;
    padding-top: 10px;

}
header ul a {
    display: flex;
}

header .cta-button {

    font-size: 16px;
    font-weight: 600;
    margin-left: auto;
    cursor: pointer;
}

/*主視覺設定*/

main {
    width: 100%; height: 100px;
}

/*小卡設定*/

section {
    display: flex;
    gap: 16px;
    width: 100%;
}

.card {
    width: 244px;
    border-radius: 16px;
 
}